<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Person Administration</title>
</head>
<body>
<div>
	   What do you want to do next?
	 	    <ul>
	     <a href="http://localhost:8085/training/changepassword">Change password</a> </li> 
	     <li> <a href="http://localhost:8085/training/searchforpersons">Search for persons</a> </li>
	     <li> <a href="http://localhost:8085/training/addnewperson">Add a new person</a> </li>
	     <li> <a href="http://localhost:8085/training/removeperson">Remove a person</a> </li>
	   </ul>	
	</div>
	
	<form action="#" th:action="@{/personadmin}" method="get">
	<span style="text-align:right"><input type="submit" th:value="Back"/></span>
	</form>	
	
</body>
</html>